body {
	background-color: rgb(5, 0, 86);
}
/*Design du formulaire*/
#formulaire {
 	background-color: white;
 	width: 400px;
 	margin: auto;
 	margin-top: 150px;
    padding-top: 15px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
 }

#formulaire label {
 	font-weight: bold;
 	padding: 10px;
 	font-size: 20px;
 }
 .rav {
 	margin: 0 30px;
 	padding: 10px;
 	width: 315px;
 }
 #formulaire button {
 	background-color: darkblue;
 	margin: 0px 5px 30px 30px;
 	width: 340px;
 	color: #FFF;
 	padding: 20px;
 	text-transform: uppercase;
 }
 #formulaire img {
 	border-radius: 60px;
 	height: 125px;
 	width: 125px;
 	margin: auto;
 	display: block;
    margin-bottom: 20px;
    m
 }
 #box {
    margin-left: 30px;

 }
 .text1 {
    margin-left: 50px;
    margin-top: -19px;
 }
 .text2 {
    margin-left: 225px;
    margin-top: -19px;

 }
 